/* navbar */
.navbar{
	  position: fixed;

}
nav.bg-faded {
    background-color: rgba(247,247,247,0.1);
}
#letter-nav {
	color: white;
}


/* presentacion */
.presentacion{
	background-image: url(../img/delf-renniel-rivera-273007.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 700px;
	margin-top: -10%;
}

/* Tools */
.tools{
	background-color: white;
}
.tools h1{
	padding: 6% 0% 6% 0%;
}
.tools i{
	font-size: 7rem;
}