*{
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
}


/* navbar */
nav{
	position: fixed;
}
.navbar-toggler{
	color: white;
}
nav.bg-faded {
    background-color: rgba(53,53,53,0.5);
}
#abtn {
    color: white;
    font-size: 150%;
}
.fixed-top{
	justify-content: center;
}

.navbar-toggleable-md .navbar-collapse {
    width: 0%;
}


/* presentacion */
.home{
	background-image: url(../img/delf-renniel-rivera-273007.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 800px;
	margin-top: -10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.icons, h1{

	padding-top: 73%;
	color: white;
	font-size: 500%;
}
.home h1{
	font-size: 100%;
}

/* about*/
.personal{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: white;
}
.personal img{
	width: 150px;
	margin: 0 auto;
	padding-bottom: 5%;
	border-radius: 100px;
	box-shadow: 10px 10px 15px #d0d0d0;
}
.personal p{
	display: flex;
	padding: 0% 5%;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: center;
	font-weight: 300;
	font-size: 150%;
	color: black;
}

/* Tools */
.col-centered{
    float: left;
    margin: 0 auto;

}
.tools{
	background-color: white;
}
.tools h1{
	padding: 6% 0% 6% 0%;
	font-weight: 500;
	font-size: 600%;
}
.tools i{
	font-size: 7rem;
	text-decoration: none;
	line-height: 2;
	color: rgba(79,27,63,0.81);
}
.tools a{
	color: transparent;
	text-decoration: none;
	height: 100px;
}
.tools a:hover {
    color: rgba(210,205,214,0.0);
    text-decoration: underline;
}

/* woorks */

.work{
	padding: 1% 1% 15% 1%;
}
.work h1{
	padding-top: 5%;
	padding-bottom: 7%;
	font-weight: 500;
	font-size: 600%;
}
.work a img{
	width: 100%;
	height: auto;
	margin-bottom: 7%;
	border-radius: 20px 20px 20px 20px;
	border: 5px solid #f1f1f1;
	box-shadow: 10px 10px 15px #d0d0d0;
}	


/* contacto */
.contacto{
	background-image: url(../img/rodion-kutsaev-48565.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 650px;
	margin-top: 0%;
	display: flex;
	align-items: center;
}
.datos{
	padding-top: 0%;
}
.contacto h3, p{
	color: white;
	font-weight: 500;
	font-size: 200%;
}
.contacto p{
	color: white;
	font-weight: 300;
	font-size: 150%;
}
.contacto #backcontacto{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(79,27,63,0.2);
	width: 100%;
	height: 650px;
}